# Monte Carlo Methods

blackjack
{
   bTest = false
   episodes = 500000 #10000
   # mostly use stepSize < 0, then use (1.0 / (s,a) count) as the stepSize
   # stepSize > 0, just for experimenting with non-stationary
   stepSize = 0.005 # -1.0  
   bOffPolicy = false
}

racetrack
{
   bTest = true
   world = [20, 30]
   discount = 1.0
   maxVelocity = 5
   actFailProb = 0.1 # action won't take effect probability  
   totalEpisodes = 1000
}